*{
  box-sizing: border-box;
}

body{
  margin:0;
  height:100vh;
  overflow:hidden;
  font-family:Arial;
}

/* BACKGROUND */
.bg{
  position:fixed;
  width:100%;
  height:100%;
  background:url("bg1.jpg") center/cover;
  filter:blur(2px) brightness(.85);
}

/* OVERLAY */
.overlay{
  background:rgba(255,192,203,.6);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
  z-index:2;
}

/* MAIN CARD */
#main{
  position:relative;
}

/* TEXT */
h1{
  font-size:2.5rem;
  margin-bottom:40px;
}

/* BUTTONS */
.buttons{
  display:flex;
  justify-content:center;
  gap:30px;
}

button{
  padding:15px 40px;
  font-size:1.2rem;
  border:none;
  border-radius:12px;
  cursor:pointer;
}

#yesBtn{
  background:#ff4d88;
  color:white;
}

#noBtn{
  background:#444;
  color:white;
  position:relative; /* IMPORTANT */
}

/* EMOJI */
#emoji{
  font-size:40px;
  display:none;
  margin-top:20px;
}

/* CONFETTI */
.confetti{
  position:fixed;
  width:10px;
  height:10px;
  top:-10px;
  animation:fall 3s linear forwards;
}

@keyframes fall{
  to{
    transform:translateY(110vh) rotate(360deg);
    opacity:0;
  }
}

/* HEARTS */
.heart{
  position:fixed;
  bottom:-20px;
  font-size:20px;
  animation:float 5s linear forwards;
}

@keyframes float{
  to{
    transform:translateY(-110vh);
    opacity:0;
  }
}
